body{
    font-family: 'Source code pro', Calibri, serif;
    /*background-color: darkgray;*/
    
    background-color: white;
    margin: auto;
    height: auto;
    width: 100%;

}


.code
{
    border: 1px solid#7a173f;
    background-color: #eee;
    padding: 15px 15px;
    font-family: "Courier New",serif;
    font-size: 1.3em;
    overflow: auto;
}

#h1titre
{
    margin: 10px 0px 30px 0px;
    text-align: center;
}


#h2soustitre
{
    text-decoration: underline;
    margin: 10px 0px 10px 0px;
    
}


#h2bleu
{
    text-decoration: underline;
    margin: 10px 0px 0px 0px;
    color: #1e3799;
    
}


#h3bleu
{
    margin: 30px 0px 0px 0px;
    color: #1e3799;
    
}

#couleurbleu
{
    color: rgb(3, 3, 153);
    padding: 0px;
    margin: 0px;
}

#articles {
    margin: 0px 20px 0px 20px;
    /*font-family: Arial Black;*/
    font-size: 18px;
    line-height: 0.7cm;
    
}

#tuto{
    color: #0f2681; 
    font-weight: bold;
    font-size: 18px;
    /*padding: 0px 0px 2px 0px;*/
    
}

#infotest
{
    background-color: #343a40;
    color: #0f2681; 
    font-size: 20px;
    text-align: center;
    
}


#exemple
{
    font-size: 20px;
    font-weight: bold;

}


figure
{
    margin: 0px;
}



p{
    margin: 5px 0px 20px 0px;
    /*font-family: Arial;*/
    /*margin: 1px;*/
    /*font-size: 18px;*/
}

ol ul li {
    font-size: 18px;
    padding: 0px 0px 20px;
}


z{
    color: #1e3799;
}


.conteneur
{
    width: 100%;
    height: auto;
    display: block;
}

img {
    max-width:100%;
    max-height:100%;
}

footer{
    background-color: #424558;
    color: white;
    padding: 0 0 10px 0;
    text-align: right;
}

a {
    color: #1b3f64;
    text-decoration: none;
    
}


table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}


.table {

    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    border: 1px solid #dee2e6;    /* auront une bordure de 1px */
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table thead tr {
    text-align: center;
    color: #0E9A00;
    font-size: 1.6em;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-dark {                                                    /* couleur du tableau  */
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,                                                  /* couleur de la bordure  */
.table-dark thead th {
    border-color: #454d55;
}

.table-striped.table-dark tbody tr:hover {                         /* selectionne la ligne en couleur */
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

.table-stripedsss {                         /* selectionne la ligne en couleur */
    color: #fff;
    background-color: rgba(248, 103, 7, 0.918);
    text-align: center;
    margin: auto;
    height: auto;
    width: 100%;
}


.table-striped tbody tr:nth-of-type(odd) {                     /* change la couleur des lignes  */
    background-color: rgba(0, 0, 0, 0.05);
}

/*  .table-dark.table-hover tbody tr:hover  */




div.date {
    text-align: right;
    color: #ffffff;
}



header {
    background-color: #424558;                  /* Couleur du menu  */
    padding: 0 0 10px 0;
    color: #FFF;

}

/*.introduction {
    background-color: black;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
}*/

figure{
    display:inline-block;
    text-align:center;
    vertical-align:top;
}

.zoom {
    width: 320px;
    height: 240px;
    margin: 80px;
}
.image {
    width: 100%;
    height: 100%;
    margin: 20px;
}

image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}


.image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(2); /* Safari et Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* Internet Explorer 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
}

.introduction {
    background-color: black;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
